<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPF_MiniForms_CSharp.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WPF_MiniForms_CSharp.settings>
            <setting name="EMAIL" serializeAs="String">
                <value>random.guids@gmail.com</value>
            </setting>
            <setting name="PASS" serializeAs="String">
                <value>roysoxyhodtbycwu</value>
            </setting>
        </WPF_MiniForms_CSharp.settings>
    </applicationSettings>
</configuration>